Package: corelab
Version: 0.1
Section: devel
Priority: optional
Architecture: amd64
Depends: libc6
Installed-Size: 1024
Maintainer: Pozsar Zsolt <pozsarzs@gmail.com>
Homepage: https://pozsarzs.github.io/corelab/
Description: Modular Processor Simulation Framework
 The CoreLAB project is a functional 8 bits
 microprocessor and microcontroller simulator
 born from a fusion of academic research,
 technical passion, and historical preservation.
