[Desktop Entry]
Type=Application
Name=CLCPU
GenericName=CPU plugin tester
GenericName[hu]=CPU beépülő teszter
Exec=clcpu
Icon=clapps
Terminal=false
StartupNotify=true
Categories=Science;Development;Education;
MimeType=application/x-corelab-snapshot;application/x-corelab-script;
