[Desktop Entry]
Type=Application
Name=CLIOPort
GenericName=IOPort plugin tester
GenericName[hu]=IOPort beépülő teszter
Exec=clioport
Icon=corelab-green
Terminal=false
StartupNotify=true
Categories=Science;Development;Education;
