[Desktop Entry]
Type=Application
Name=CLMemory
GenericName=Memory plugin tester
GenericName[hu]=Memory beépülő teszter
Exec=clmemory
Icon=corelab-green
Terminal=false
StartupNotify=true
Categories=Science;Development;Education;
