[Desktop Entry]
Type=Application
Name=CLMemory
GenericName=Memory plugin tester
GenericName[hu]=Memory beépülő teszter
Exec=clmemory
Icon=clapps
Terminal=false
StartupNotify=true
Categories=Science;Development;Education;
MimeType=application/x-corelab-snapshot;application/x-corelab-script;
