[Desktop Entry]
Type=Application
Name=CLProcessor
GenericName=CPU plugin tester
GenericName[hu]=CPU beépülő teszter
Exec=clprocessor
Icon=corelab-green
Terminal=false
StartupNotify=true
Categories=Science;Development;Education;
